<h2>Hello <%= @player_name %>, your ID is: <%= @player_id  %></h2>
<h3><a href="/create_lobby">Create a new lobby</a></h3>
<h3><a href="/join_lobby">Join an open lobby</a></h3>
<h3><a href="/active_lobbies">View active lobbies</a></h3> 
