<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Games</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geostar+Fill&family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
    <link href="styles/styles.css" rel="stylesheet" >
  </head>
  <body>
    <%= yield %>
    
  </body>
</html>
