<h2>Please enter your username to login: </h2>
<form method="POST" action="/login" class="login-form">
  <label for="username">Username: <input type="text" id="player-id" name="name" /></label>
  <input type="submit" id="submitBtn"/>
</form>
