<h2>Please enter a username to create an account</h2>
<form method="POST" action="/signup" class="signup-form">
  <label for="username">Username: <input type="text" id="name" name="name" /></label>
  <input type="submit" id="submitBtn"/>
</form>
